:root {
  --point-color: #e7e7e7
}

* {
  box-sizing: border-box;
}

html {
  overflow: auto !important;
  width: 100%;
  overflow: hidden;
  width: 100vw;
  box-sizing: border-box;
}

/* html::-webkit-scrollbar {
  display: none;
} */

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  width: 100vw;
  width: 100%;
  overflow-x: hidden;
}

section {
  height: auto;
  top: 0;
  left: 0;
  position: relative;
  border-bottom: 1px solid #e2e2e2;
}

.wrapper {
  position: relative;
}

.container {
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
}

.contents {
  height: 100vh;
}

h2 {
  position: absolute;
  top: -1000px;
  font-size: 0;
}

.main_title {
  font-size: 64px;
  font-size: 2vw;
  color: gray;
  font-weight: bold;
  padding: 60px;
  display: block;
  text-align: center;
}

/* .btn_menu  */
.btn_menu {
  display: none;
}

.menu li {
  margin: 10px 0;
}


/********** menu_list  **********/
#menu_list {
  position: fixed;
  z-index: 999;
  top: 0;
  left: -400px;
  background: skyblue;
  height: 100vh;
  padding: 50px 40px 0;
  transition: all .3s ease-in;
}

#menu_list.active {
  left: 0;
}

#menu_list .menu {
  cursor: pointer;
  padding-top: 50px;
}

#menu_list .menu li {
  padding: 20px 0;
  font-size: 30px;
}

#menu_list .menu li a {
  color: #fff;
}

#menu_list .menu li:hover a {
  color: firebrick;
}

/* toggle  */

.mobile_bottom_line {
  display: none;
}

.toggle_btn {
  display: flex;
  position: fixed;
  width: 40px;
  height: 20px;
  cursor: pointer;
  top: 20px;
  left: 20px;
  z-index: 500;
}

.toggle_btn span {
  position: absolute;
  height: 2px;
  display: block;
  width: 100%;
  background: #222;
  top: 50%;
}

.toggle_btn span:nth-child(2) {
  top: 0%;
}

.toggle_btn span:nth-child(3) {
  top: 100%;
}

.toggle_btn.active span:first-child {
  display: none;
  background:#333;
}

.toggle_btn.active span:nth-child(2),
.toggle_btn.active span:nth-child(3) {
  top: 50%;
  transform: rotate(140deg);
  transition: all .3s;
  background: #333;
}

.toggle_btn.active span:nth-child(3) {
  transform: rotate(-140deg);
}

/********** section01  **********/
.mobile_port {
  display: none;
}

.top_bg_image .main_img1 img,
.top_bg_image .main_img2 img,
.top_bg_image .main_img3 img,
.top_bg_image .main_img4 img:first-child {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.btn_img {
  position: absolute;
  transform: scale(.2) rotate(13deg);
  z-index: 110;
}

.btn2_img {
  position: absolute;
  z-index: 100;
  left: 15%;
  top: -15%;
  transform: scale(.5), rotate(13deg), translateY(-20%);
}

.header .contents {
  position: relative;
  width: 100%;
}

.main_img {
  height: auto;
  width: 550px;
  max-width: 100%;
}

.main_img img {
  max-width: 100%;
  width: 550px;
  transform: rotate(13deg);
}

.top_txt {
  color: #000;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 100;
}

.top_txt h4 {
  font-size: 30px;
}

.top_txt p {
  padding: 10px;
}

.top_txt button {
  border: 1px solid gray;
  background: #fff;
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 14px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.top_btn {
  display: inline-block;
}

/********** contact  **********/


.contact {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 30px;
  right: 30px;
  color: #000;
  z-index: 111;
}

.arrow_top {
text-align: center;
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 70px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-left: 30px;
  position: relative;

}

.arrow_top img {
  height: 100%;
  max-height: 35px;
  object-fit: contain;
}


.arrow_top span {
  display: flex;
  position: absolute;
  background: #444;
  height: 1px;
  width: 50%;
  left:100%;
  transform: rotate(50deg);
  padding: 0;
  border-radius: 100px;
  top: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.arrow_top span:last-child {
  transform: rotate(-45deg);
  left: 22px;
}


/********** section #section_info **********/
#section_info {
  width: 100%;
  height: 100%;
}

.section_start {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background: #fff;
}

.section_start .start_bg:first-child {
  position: absolute;
  display: flex;
  background: #456179;
  width: 100%;
  height: 100%;
}

.section_start .start_bg:nth-child(2) {
  position: absolute;
  display: flex;
  background: #91a3ad;
  width: 85%;
  height: 100%;
}

.section_start .start_bg:nth-child(3) {
  position: absolute;
  display: flex;
  background: #c1cbd2;
  width: 69%;
  height: 100%;
}

.section_start .start_bg:nth-child(4) {
  position: absolute;
  display: flex;
  background: #e7e7e7;
  width: 53%;
  height: 100%;
}

.section_start .start_bg:nth-child(5) {
  position: absolute;
  display: flex;
  background: #e5f1fd;
  width: 37%;
  height: 100%;
}

.section_start .start_bg:nth-child(6) {
  position: absolute;
  display: flex;
  background: #c1cbd2;
  width: 24%;
  height: 100%;
}

.info_subject {
  position: absolute;
  display: inline-block;
  transition: all .3s ease-in;
}

.subject_bg {
  font-size: 80px;
  font-style: italic;
}

.info_subject span {
  position: absolute;
}

.subject_effect .triangle {
  position: absolute;
  top: 30%;
  left: 20%;
  transform: rotate(45deg);
  width: 80px;
  height: 80px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  visibility: visible;
  transition: all .5s;
}

.subject_effect .round {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: rotate(45deg);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.subject_effect .plus {
  position: absolute;
  top: 30%;
  right: 20%;
  width: 80px;
  height: 10px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.subject_effect .plus:after {
  position: absolute;
  content: '';
  width: 80px;
  height: 10px;
  background: #fff;
  transform: rotate(90deg);
  box-shadow: rgba(0, 0, 0, 0.03) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.subject_effect .minus {
  position: absolute;
  width: 80px;
  height: 15px;
  top: 40%;
  right: 5%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.subject_effect .add {
  position: absolute;
  width: 80px;
  height: 15px;
  top: 15%;
  left: 5%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.subject_effect .add:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 15px;
  transform: rotate(90deg);
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

/********** section #responsive_web **********/
section#responsive_web {
  position: relative;
  background-color: #fff;
}

#responsive_web .container .contents {
  height: auto;
  margin: 100px 0;
  padding: 50px 0;
}

.web_cont {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.web_txt {
  color: #444;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.web_txt span {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

.web_txt em {
  color: #777;
}

.web_txt strong {
  margin-bottom: 10px;
}

.web_txt p {
  margin-top: 30px;
}

.web_txt p em {
  position: relative;
  display: flex;
  margin: 25px 0;
  padding-top: 10px;
  font-size: 20px;
}

.web_txt p em span {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 3;
  margin-left: 31px;
  font-weight: normal;
}

.web_txt p em img {
  width: 60px;
  height: 60px;
}

.web_images {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 550px;
}

.web_images img.web_device {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  height: 100%;
}

.web_images img.web_mobile {
  position: absolute;
  right: 0;
  bottom: 0%;
  height: 60%;
}

/********** section #design **********/


.grid-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-container a {
  display: inline-block;
  /* max-width: 100%;
  min-width: 100px; */
  width: 20%;
  /* height: 250px; */
  overflow: hidden;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 30px;
}

.grid-container a img {
  width: 100%;
}

/********** section #javascript **********/
#javascript .container .contents.js_mobile {
  display: none;
}

#javascript .container .js_container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.js_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.js_wrapper a {
  width: 20%;
  display: flex;
  justify-content: flex-start;
}


.swiper-container.js_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.swiper-wrapper.js_wrapper {
  display: flex;
  align-items: start;
  justify-content: flex-start;
}

.project {
  background-position: center;
  background-size: cover;
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 30px;
  overflow: hidden;
  margin: 15px;
  position: relative;
}

.project:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  position: absolute;
  top: 100%;
  transition: all .2s;
}

.project:hover:after {
  opacity: .7;
  top: 0;
}

.project:hover .javascript_img span,
.project:hover .javascript_img em {
  display: block;
}

.project .javascript_img img {
  width: 100%;
  height: 100%;
  max-width: 250px;
  display: flex;
  align-items: start;
}

.javascript_img em {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 20px;
  display: none;
  z-index: 50;
}

.javascript_img em:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #fff;
  display: block;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
}

.javascript_img span {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  z-index: 50;
  transition: all .3s;
}

.featherlight-iframe .featherlight-content {
  width: 100% !important;
  height: 100% !important;
}

.featherlight .featherlight-inner {
  width: 100% !important;
}

.featherlight .featherlight-content {
  margin-left: 0;
  margin-right: 0;
}

.featherlight iframe {
  width: 100%;
  height: 100%;
}



/********** section #contact_me **********/

section#contact_me {
  height: 50vh;
  background: #e7e7e7;
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
}

.my_profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my_social {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}

.my_social em {
  margin: 15px;
  width: 200px;
  height: 250px;
  border-radius: 30px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: block;
  color: #444;
}

.my_social i  {
  font-size:3em;
  display: block;
  text-align: center;
  margin-top: 50px;
}

.my_social em img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-top: 45px;
}

.my_social em span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.my_social em:hover img {
  mix-blend-mode: normal;
}

.my_social em p {
  color: #444;
  font-weight: bold;
  border-bottom: 2px solid #222;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}

.avata_img img {
  width: 170px !important;
  height: 170px !important;
  object-fit: cover;
  border-radius: 50%;
}

/* contact/ arrow_top / contact_me  */
.contact_me {
  width: 100px;
  font-size: 14px;
  text-align: center;
  background: #fff;
  border: 2px solid #777;
  margin: 10px;
  height: 40px;
  line-height: 36px;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-sizing: border-box;
  cursor: pointer;
}



/* @media  */
@media screen and (max-width: 1100px) {

  body,html {
    overflow: hidden;
  }

  .device_port {
    display: none;
  }

  .mobile_port {
    display: block;
  }
  
  #section_info .container .contents {
    height: 50vh;
  }

  #responsive_web .container .contents {
    margin: 0 !important;
  }

  #design .container .contents,
  #javascript .container .contents {
    height: auto;
    margin: 0;
  }

  #design .container .contents {
    padding: 50px 0;
  }



  .main_img {
    height: auto;
    width: 100%;
    max-width: 480px;
    min-width: 400px
  }


  .btn_img {
    top: 360% !important;
  }

  .subject_effect {
    display: none;
    line-height: 1.5;
  }

  .web_cont {
    flex-direction: column;
    padding-top: 50px;
  }

  .web_txt {
    width: 70%;
  }

  .web_txt p em {
    display: inline-flex;
  }

  .web_images {
    height: auto;
    align-items: center;
    width: auto;
  }

  .web_images a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .web_images img.web_device {
    position: static;
    transform: none;
    width: 70%;
    margin-top: 30px;
  }

  .web_images img.web_mobile {
    height: 65%;
    margin-right: 50px;
  }

  /* design  */

  .grid-container a {
    width: 220px;
    height: 220px;
    margin: 20px;
  }

  /* javascript  */
  #javascript .container .contents.js_device {
    display: none;
  }

  #javascript .container .contents.js_mobile {
    display: block;
    padding: 50px 0;
  }

  #javascript .container .contents {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .arrow_top {
    margin-bottom: 10px;
  }


  .javascript_img em:after {
    top: 30px;
  }

  .arrow_top {
    width: 40%;
  }

  section#contact_me {
    right: 5px !important;
  }


}

@media screen and (max-width: 970px) {
  .main_title {
    font-size: 6vw;
  }

  .top_txt {
    width: 90%;
    text-align: center;
    line-height: 1.5;
  }

  .top_txt p {
    font-size: 18px;
  }


  .main_img {
    height: auto;
    width: 100%;
    max-width: 430px;
  }
  
  .js_wrapper a {
    width: calc(100% / 4);
  }

  .my_social em span {
    font-size: 14px;
  }

  .contact_me {
    width: 90px;
    font-size: 14px;


  }

  .toggle_btn {
    width: 25px;
    height: 20px;
  }

}

@media screen and (max-width: 888px) {
  .toggle_btn {
    display: none;
  }

  .mobile_bottom_line {
    display: block;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    z-index: 100;
    bottom: -2px;
    position: relative;
  }

  .contact {
    display: none;
  }

  .mobile_bottom_line:before {
    content: '';
    width: 50%;
    height: 60px;
    background: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    display: block;
    left:0;
    bottom: -2px;
    border-radius: 0 50px 0 0;
    position: fixed;
    z-index: 110;

  }

  .mobile_bottom_line:after {
    content: '';
    width: 50%;
    height: 60px;
    background: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    display: block;
    right:0%;
    bottom: 0;
    border-radius: 180px 0 0 0;
    position: fixed;
    z-index: 100;

  }

  .toggle_menu_mobile {
    color: green;
    position: fixed;
    z-index: 110;
    bottom: 0;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4px;
  }

  .toggle_menu_mobile ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0 5%;
    width: 50vw;
    z-index: 100;
  }

  .toggle_menu_mobile ul.index_order {
    justify-content: flex-end;
  }

  .toggle_menu_mobile ul.contact_order{
    justify-content: flex-start;
  }

  .toggle_menu_mobile ul li {
    margin: 0 3%;
    display: flex;
    cursor: pointer;
    border: 1px solid lightgray;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 3px;
  }

  .toggle_menu_mobile ul li img {
    padding: 5%;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    max-width: 60px;
    /* max-height: 60px; */
  }

  .javascript_img em:after {
    top: 25px;
  }

  .top_bg_image {
    height: 100%;
  }

  .top_bg_image .main_img1{
    left: 0 !important;
    top: -20% !important;
    width: 100% !important;
    max-width: 40% !important;
  }

  .top_bg_image .main_img2{
    width: 100%;
    max-width: 400px;
    top: -30% !important;
    left: 60% !important;
  }

  .top_bg_image .main_img3 {
    top: 80% !important;
    left: 45% !important;
    width: 130% !important;
    transform: rotate(45deg);
  }

  .top_bg_image .main_img4 {
    top: 70% !important;
    left: 110% !important;

  }

  .my_social i  {
    margin-top: 15px;
  }

  .my_social em span {
    margin-top: 12px;
  }

  .my_social em:nth-child(4) span {
    font-size: 12px;
  }


}

@media screen and (max-width: 740px) {

  
  .toggle_btn {
    left: 10px !important;
  }


  .top_bg_image .main_img1{
    left: 0 !important;
    top: -30% !important;
    width: 100% !important;
    max-width: 40% !important;
  }

  .top_bg_image .main_img2{
    width: 100%;
    max-width: 400px;
    top: -40% !important;
    left: 75% !important;
  }

  .top_bg_image .main_img3 {
    top: 76% !important;
    left: 35% !important;
    width: 130% !important;
    transform: rotate(45deg);
  }

  .top_bg_image .main_img4 {
    top: 70% !important;
    left: 120% !important;
  }
 
  .grid-container a {
    max-width: 220px;
    max-height: 220px;
    margin: 20px;
  }

  /* #responsive_web .container .contents {
    transform: translateY(11%) !important;
  }

  .web_images img.web_device {
    transform: translateY(-230px) !important;
  } */

  .my_social {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
  }

  .my_social em {
    width: 210px;
    height: 160px;
  }

  .my_social em img {
    margin-top: 7px;
  }

  .my_social em:last-child img {
    margin-top: 15px;
  }

  .avata_img img {
    width: 130px !important;
    height: 130px !important;
  }
}

@media screen and (max-width: 600px) {

  .top_bg_image .main_img1{
    left: -65px !important;
    top: -30% !important;
    width: 100% !important;
    max-width: 40% !important;
  }

  .top_bg_image .main_img2{
    width: 100%;
    max-width: 400px;
    top: -40% !important;
    left: 85% !important;
  }

  .top_bg_image .main_img3 {
    top: 80% !important;
    left: 20% !important;
    width: 130% !important;
    transform: rotate(45deg);
  }

  .top_bg_image .main_img4 {
    top: 70% !important;
    left: 130% !important;
  }
 
  .js_wrapper a {
    width: calc(100% / 3);
  }

  .grid-container a {
   
    max-width: 30%;
    max-height: 180px;
    margin: 20px;
  }

  .subject_bg {
    font-size: 3em;
  }

  .javascript_img em{
    font-size: 15px;
  }

  .javascript_img em:after {
    display: none;
  }

  .javascript_img span {
    font-size: 20px;
    margin-top: 10px;
  }

  section#contact_me {
    height: auto;
  }

  #contact_me .container .contents {
    height: auto;
    margin: 100px 0;
  }

  .my_social em {
    width: 150px;
    margin: 5px;
  }

  .arrow_top {
    width: 35%;
  }

  .contact_me {
    margin: 0;
  }
}

@media screen and (max-width: 450px) {
  .top_bg_image .main_img1{
    left: -95px !important;
    top: -40% !important;
    width: 100% !important;
    max-width: 40% !important;
  }

  .top_bg_image .main_img2{
    width: 100%;
    max-width: 400px;
    top: -55% !important;
    left: 100% !important;
  }

  .top_bg_image .main_img3 {
    top: 75% !important;
    left: -20% !important;
    width: 130% !important;
    transform: rotate(45deg);
  }

  .top_bg_image .main_img4 {
    top: 80% !important;
    left: 110% !important;
  }

  .toggle_menu_mobile ul {
    margin: 0 2%;
  }

  .toggle_menu_mobile ul.contact_order {
    padding-left: 8%;
  }

  .toggle_menu_mobile ul li {
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 10px;
  }

  .toggle_menu_mobile ul li img {
   width: 100%;
   height: 100%;
    /* max-width: 60px; */
  }


  
}