@charset 'utf-8';

:root {
  --point-color: #e7e7e7
}

* {
  box-sizing: border-box;
}

html {
  overflow: auto !important;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  border: 3px solid orange;
}

.wrapper {
  position: relative;
  overflow-y: hidden;
  box-sizing: border-box;
  overflow-x: hidden;
}


section {
  height: auto;
  top: 0;
  left: 0;
  position: relative;
  border-bottom: 1px solid #e2e2e2;
}


.container {
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
}

.contents {
  height: 100vh;
}

h2 {
  position: absolute;
  top: -1000px;
  font-size: 0;
}

.main_title {
  font-size: 64px;
  font-size: 3vw;
  color: #333;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  letter-spacing: -2px;
}

.main_title:after {
  content: '';
  width: 5%;
  height: 2px;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  background: gray;
}

/* .btn_menu  */
.btn_menu {
  display: none;
}

button {
  outline: none;
  border: none;
}


/* loading  */

/* progress bar */

.progress {
  display: flex;
  background-color: #000;
  color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index:9999999;
  opacity: 0;
  visibility: visible;
  justify-content: center;
  align-items: center;
}

.before_loading .progress {
  opacity: 1;
}

.progress-bar {
  border-top:1px solid #fff;
  position: absolute;
  top: 50%; 
  width: 0%;
  opacity: 1;
}
.progress-bar.progress-complete {
  border-top-color: #ddd;
}
.progress-text {
  font-size: 14px;
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  margin-top:10px;
  opacity: 0;
}

.loading-circle {
  margin-top: 150px;
  width: 70px;
  height: 70px;
  animation: loading_spin 3s infinite;
}

@keyframes loading_spin{    
  100%{transform: rotate(360deg);}
}
@keyframes loading_circle {
 0% {stroke-dashoffset: 157}
 75% {stroke-dashoffset: -147}
 100% {stroke-dashoffset: -157}
}


.loading-circle circle {
  stroke:#fff;
  stroke-width: 4px;
  fill: transparent;
  stroke-dasharray: 157;
  stroke-dashoffset: 0;
  transition: 1s;
  animation: loading_circle 1s infinite;
}
/* loading */

.loading_text {
  position: absolute;
  top: 0;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.loading_text span {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  font-family: 'Quattrocento Sans', sans-serif;
}
.loading_text span:nth-child(1) {  
          filter: blur(0px);  
          animation: blur-text 1.5s 0s infinite linear alternate;
}
.loading_text span:nth-child(2) {
          filter: blur(0px);
          animation: blur-text 1.5s 0.2s infinite linear alternate;
} 
.loading_text span:nth-child(3) {  
          filter: blur(0px);
          animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.loading_text span:nth-child(4) {
          filter: blur(0px);
          animation: blur-text 1.5s 0.6s infinite linear alternate;
}
.loading_text span:nth-child(5) {
          filter: blur(0px);
          animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.loading_text span:nth-child(6) {  
          filter: blur(0px);
          animation: blur-text 1.5s 1s infinite linear alternate;
}
.loading_text span:nth-child(7) {
          filter: blur(0px);
          animation: blur-text 1.5s 1.2s infinite linear alternate;
}

.progress_bar {
  position: absolute;
  width: 0;
  background: #e5e5e5;
  height: 2px;
  top: 55%;
  left: 0;
  animation: name duration timing-function delay iteration-count direction fill-mode;
  animation: line 3s 1s ease;
}

@keyframes blur-text {
  0% {    
            filter: blur(0px);
  }
  100% {    
            filter: blur(4px);
  }
}





/********** menu_list  **********/
#menu_list {
  position: fixed;
  z-index: 999;
  top: -100px;
  transition: all .3s ease-in;
  width: 100%;
  justify-content: center;
  display: flex;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  visibility: hidden;
  transition: all .2s ease-in-out;
}

#menu_list.visible {
  visibility: visible;
  top: 0;

}

#menu_list .menu {
  cursor: pointer;
  display: flex;
  width: 1200px;
  justify-content: space-between;
  height: 100%;
}

#menu_list .menu li {
  font-size: 20px;
  color: #333;
  height: 35px;
}

#menu_list .menu li:hover a {
  color: firebrick;
}

#menu_list .menu .menu_item_logo {
  width: 60px;
  display: inline-block;
  height: 56px;
  line-height: 56px;
  text-align: center;
  font-size: 40px;
  background: skyblue;
  color: #fff;
}

.menu_items {
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 10px 0;
}

.menu_items ul{
  margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu_item a {
  font-size: 1rem;
}

.menu_item a:hover {
  transform: scale(1.1) !important;
}

.toggle_menu_mobile {
  display: none;
}


/********** section01  **********/
.mobile_port {
  display: none;
}

.top_bg_image .main_img1 img,
.top_bg_image .main_img2 img,
.top_bg_image .main_img3 img,
.top_bg_image .main_img4 img:first-child {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.btn_img {
  position: absolute;
  transform: scale(.2) rotate(13deg);
  z-index: 110;
}

.btn2_img {
  position: absolute;
  z-index: 100;
  left: 15%;
  top: -15%;
  transform: scale(.5) rotate(13deg) translateY(-20%);
}

.header .contents {
  position: relative;
  width: 100%;
}

.main_img {
  height: auto;
  width: 550px;
  max-width: 100%;
}

.main_img img {
  max-width: 100%;
  width: 550px;
  transform: rotate(13deg);
}

.top_txt {
  color: #000;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 100;
}

.top_txt h4 {
  font-size: 30px;
}

.top_txt p {
  padding: 10px;
}

.top_txt button {
  border: 1px solid gray;
  background: #fff;
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 14px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.top_btn {
  display: inline-block;
}

/********** contact  **********/


.contact {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 30px;
  right: 30px;
  color: #000;
  z-index: 111;
}

.arrow_top {
  text-align: center;
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 70px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-left: 30px;
  position: relative;

}

.arrow_top img {
  height: 100%;
  max-height: 35px;
  object-fit: contain;
}


.arrow_top span {
  display: flex;
  position: absolute;
  background: #444;
  height: 1px;
  width: 50%;
  left: 100%;
  transform: rotate(50deg);
  padding: 0;
  border-radius: 100px;
  top: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.arrow_top span:last-child {
  transform: rotate(-45deg);
  left: 22px;
}

/********** section #point_title **********/

.sticky_elem {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


#show-scene-0 #scroll-section-0 .sticky_elem,
#show-scene-1 #scroll-section-1 .sticky_elem,
#show-scene-2 #scroll-section-2 .sticky_elem,
#show-scene-3 #scroll-section-3 .sticky_elem {
    display: block; 
}




/********** section #section_info **********/
#section_info {
  width: 100%;
  height: 100%;
}

.section_start {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background: #fff;
}

.section_start .start_bg:first-child {
  position: absolute;
  display: flex;
  background: #456179;
  width: 100%;
  height: 100%;
}

.section_start .start_bg:nth-child(2) {
  position: absolute;
  display: flex;
  background: #91a3ad;
  width: 85%;
  height: 100%;
}

.section_start .start_bg:nth-child(3) {
  position: absolute;
  display: flex;
  background: #c1cbd2;
  width: 69%;
  height: 100%;
}

.section_start .start_bg:nth-child(4) {
  position: absolute;
  display: flex;
  background: #e7e7e7;
  width: 53%;
  height: 100%;
}

.section_start .start_bg:nth-child(5) {
  position: absolute;
  display: flex;
  background: #e5f1fd;
  width: 37%;
  height: 100%;
}

.section_start .start_bg:nth-child(6) {
  position: absolute;
  display: flex;
  background: #c1cbd2;
  width: 24%;
  height: 100%;
}

.info_subject {
  position: absolute;
  display: inline-block;
  transition: all .3s ease-in;
}

.subject_bg {
  font-size: 80px;
  font-style: italic;
}

.info_subject span {
  position: absolute;
}

.subject_effect .triangle {
  position: absolute;
  top: 30%;
  left: 20%;
  transform: rotate(45deg);
  width: 80px;
  height: 80px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  visibility: visible;
  transition: all .5s;
}

.subject_effect .round {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: rotate(45deg);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.subject_effect .plus {
  position: absolute;
  top: 30%;
  right: 20%;
  width: 80px;
  height: 10px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.subject_effect .plus:after {
  position: absolute;
  content: '';
  width: 80px;
  height: 10px;
  background: #fff;
  transform: rotate(90deg);
  box-shadow: rgba(0, 0, 0, 0.03) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.subject_effect .minus {
  position: absolute;
  width: 80px;
  height: 15px;
  top: 40%;
  right: 5%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.subject_effect .add {
  position: absolute;
  width: 80px;
  height: 15px;
  top: 15%;
  left: 5%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.subject_effect .add:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 15px;
  transform: rotate(90deg);
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

/********** section #responsive_web **********/
section#responsive_web {
  position: relative;
  background-color: #fff;
}

#responsive_web .container .contents {
  height: auto;
  margin: 180px 0;
  padding: 50px 0;
}

.web_cont {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.web_txt {
  color: #444;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.web_txt span {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

.web_txt em {
  color: #777;
}

.web_txt strong {
  margin-bottom: 10px;
}

.web_txt p {
  margin-top: 30px;
}

.web_txt p em {
  position: relative;
  display: flex;
  margin: 25px 0;
  padding-top: 10px;
  font-size: 20px;
}

.web_txt p em span {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 3;
  margin-left: 31px;
  font-weight: normal;
}

.web_txt p em img {
  width: 60px;
  height: 60px;
}

.web_images {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 550px;
  flex-direction: column;
}

.web_images .web_btn {
  position: absolute;
  bottom: -100px;
  left: 50%;
  width: 100%;
  transform: translateX(-10%);
}

.web_images .web_btn_link {
  display: inline-block;
  border: 1px solid #e5e5e5;
  width: 9vw;
  height: 4vh;
  line-height: 4vh;
  margin: 5px;
  text-align: center;
  box-sizing: border-box;
  background: #fff;
}

.web_images .web_btn_link i {
  font-size: 1vw;
  margin-right: 10px;
  vertical-align: middle;
  color: #456179;
  opacity: .8;
}

.web_images .web_btn_link:nth-child(2) i {
  font-size: 1.2vw;
}
.web_images .web_btn span {
  font-size: .6vw;
  color: #456179;
}

.web_images img.web_device {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  height: 100%;
}

.web_images img.web_tab {
  width: 40%;
    position: absolute;
    right: 5%;
    bottom: 1%;

}

.web_images img.web_mobile {
  position: absolute;
  right: 0;
  bottom: 0%;
  height: 60%;
}

/********** section #design **********/


.grid-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}

.grid-container a {
  display: inline-block;
  width: 20%;
  height: 220px;
  overflow: hidden;
  margin: 10px;
  border-radius: 30px;
}

.grid-container a img {
  width: 100%;
}

/********** section #javascript **********/
#javascript .container .contents.js_mobile {
  display: none;
}

#javascript .container .js_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.js_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 30px;
  padding-right: 10%;
  padding-left: 10%;
}

.js_wrapper a {
  width: 30%;
  display: flex;
  justify-content: center;
}


.swiper-container.js_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.swiper-wrapper.js_wrapper {
  display: flex;
  align-items: start;
  justify-content: flex-start;
}

.project {
  background-position: center;
  background-size: cover;
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 30px;
  overflow: hidden;
  margin: 15px;
  position: relative;
}

.project:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  position: absolute;
  top: 100%;
  transition: all .2s;
}

.project:hover:after {
  opacity: .7;
  top: 0;
}

.project:hover .javascript_img span,
.project:hover .javascript_img em {
  display: block;
}

.project .javascript_img img {
  width: 100%;
  height: 100%;
  max-width: 250px;
  display: flex;
  align-items: start;
}

.javascript_img em {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 20px;
  display: none;
  z-index: 50;
}

.javascript_img em:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #fff;
  display: block;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
}

.javascript_img span {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  z-index: 50;
  transition: all .3s;
}

.featherlight-iframe .featherlight-content {
  width: 100% !important;
  height: 100% !important;
}

.featherlight .featherlight-inner {
  width: 100% !important;
}

.featherlight .featherlight-content {
  margin-left: 0;
  margin-right: 0;
}

.featherlight iframe {
  width: 100%;
  height: 100%;
}



/********** section #contact_me **********/

section#contact_me {
  height: 50vh;
  background: #e7e7e7;
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
  display: none;
}

.my_profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.my_social {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}

.my_social p {
  /* width: 200px; */
  width: 22%;
  /* height: 250px; */
  padding: 20px 0;
  border-radius: 30px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: block;
  color: #444;
  color: #888;

}

.my_social i {
  font-size: 1.5vw;
  display: block;
  text-align: center;
  padding: 15px 0;
  color: #888;
}


.my_social p span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .5vw;
  color: #888;

}


.my_social p em {
  color: #444;
  display: block;
  text-align: center;
  color: rgb(41, 92, 133);
  font-size: .6vw;
}

/********** footer **********/
.footer {
  background: #333;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.footer  .contents {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  line-height: 100px;
}


/* contact/ arrow_top / contact_me  */
.contact_me {
  width: 100px;
  font-size: 14px;
  text-align: center;
  background: #fff;
  border: 2px solid #777;
  margin: 10px;
  height: 40px;
  line-height: 36px;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-sizing: border-box;
  cursor: pointer;
}

.footer  .contents span {
  color: #fff;
  
}


/* @media  */
@media screen and (max-width: 1100px) {

  html::-webkit-scrollbar {
    display: none;
  }


  .device_port {
    display: none;
  }

  .mobile_port {
    display: block;
  }

  #section_info .container .contents {
    height: 50vh;
  }

  #responsive_web .container .contents {
    margin: 0 !important;
  }

  #design .container .contents,
  #javascript .container .contents {
    height: auto;
    margin: 0;
  }

  #design .container .contents {
    padding: 50px 0;
  }



  .main_img {
    height: auto;
    width: 100%;
    max-width: 480px;
    min-width: 400px
  }


  .btn_img {
    top: 360% !important;
  }

  .subject_effect {
    display: none;
    line-height: 1.5;
  }

  .web_cont {
    flex-direction: column;
    padding-top: 50px;
  }

  .web_txt {
    width: 70%;
  }

  .web_txt p em {
    display: inline-flex;
  }

  .web_images {
    height: auto;
    align-items: center;
    width: auto;
  }

  .web_images .web_btn {
    width: 100%;
    position: static;
    transform: translateX(0);
    text-align: center;
  }

  .web_images .web_btn_link i {
    font-size: 2vw;
  }

  .web_images .web_btn_link:nth-child(2) i {
    font-size: 2.3vw;
  }

  .web_images a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .web_images img.web_device {
    position: static;
    transform: none;
    width: 70%;
    margin-top: 30px;
  }
  .web_images img.web_tab {
    right: 10%;
    bottom: 11%;
  }

  .web_images img.web_mobile {
    height: 55%;
    margin-right: 50px;
    bottom: 10%;
  }

  .web_images button {
    width: 19vw;
    margin-top: 20px;
  }

  .web_images .web_btn span {
    font-size: 1.6vw;
  }

  .web_images button:nth-child(2) i {
    font-size: 2.2vw;
  }

  .web_images button i {
    font-size: 2vw;
  }

  /* design  */
  .grid-container {
    padding: 30px 0 !important;
  }

  .grid-container a {
    width: 220px;
    height: 220px;
    /* margin: 20px; */
  }

  /* javascript  */

  .js_wrapper {
    padding: 50px 0;
    justify-content: center;
  }

  #javascript .container .contents {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .arrow_top {
    margin-bottom: 10px;
  }


  .javascript_img em:after {
    top: 30px;
  }

  .arrow_top {
    width: 40%;
  }

  section#contact_me {
    right: 5px !important;
  }

  .web_images .web_btn_link {
    line-height: 0;
    display: inline-flex;
    width: 19vw;
  }

}

@media screen and (max-width: 970px) {
  body {
    word-break:break-all;
  }

  .main_title {
    font-size: 6vw;
  }

  .top_txt {
    width: 90%;
    text-align: center;
    line-height: 1.5;
  }

  .top_txt p {
    font-size: 18px;
  }


  .main_img {
    height: auto;
    width: 100%;
    max-width: 430px;
  }

  .web_images img.web_mobile {
    bottom: 18%;
  }

  .web_images img.web_tab {
    bottom: 18%;
  }

  .web_images .web_btn_link {
    margin-top: 40px;
    width: 34vw;
    height: 4vh;
  }

  .web_images .web_btn_link {
    vertical-align: middle;
  }

  .web_images .web_btn span {
    line-height: 3vh;
    font-size: 2.6vw;
  }

  .web_images .web_btn_link i {
    font-size: 3vw;
  }

  .web_images .web_btn_link:nth-child(2) i {
    font-size: 3.2vw;
  }


  .js_wrapper a {
    width: calc(100% / 4);
  }

  .my_social em span {
    font-size: 14px;
    font-size: .5vw;
    padding: 0 3px;
  }

  .contact_me {
    width: 90px;
    font-size: 14px;
  }


.my_social i {
  font-size: 2.5vw;
}

  .my_social p {
    width: 20%;
    margin: 5px;
  }

  .toggle_btn {
    width: 25px;
    height: 20px;
  }

}

@media screen and (max-width: 888px) {

  #menu_list {
    display: none;
  }
  
  .toggle_btn {
    display: none;
  }

  .mobile_bottom_line {
    display: block;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    z-index: 100;
    bottom: -2px;
    position: relative;
  }

  .contact {
    display: none;
  }

  .mobile_bottom_line:before {
    content: '';
    width: 50%;
    height: 60px;
    background: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    display: block;
    left: 0;
    bottom: -2px;
    border-radius: 0 50px 0 0;
    position: fixed;
    z-index: 110;

  }

  .mobile_bottom_line:after {
    content: '';
    width: 50%;
    height: 60px;
    background: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    display: block;
    right: 0%;
    bottom: 0;
    border-radius: 180px 0 0 0;
    position: fixed;
    z-index: 100;

  }


  .toggle_menu_mobile {
    position: fixed;
    z-index: 110;
    bottom: 0;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4px;
  }

  .toggle_menu_mobile ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0 5%;
    width: 50vw;
    z-index: 100;
  }

  .toggle_menu_mobile ul.index_order {
    justify-content: flex-end;
  }

  .toggle_menu_mobile ul.contact_order {
    justify-content: flex-start;
  }

  .toggle_menu_mobile ul li {
    margin: 0 3%;
    display: flex;
    cursor: pointer;
    border: 1px solid lightgray;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 3px;
  }

  .toggle_menu_mobile ul li img {
    padding: 16%;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    max-width: 60px;
    /* max-height: 60px; */
  }

 

  .web_images button a {
    line-height: 0;
    display: inline-flex;
  }

  .web_images img.web_tab {
    right: 10%;
    bottom: 20%;
  }


  .javascript_img em:after {
    top: 25px;
  }

  .top_bg_image {
    height: 100%;
  }

  .top_bg_image .main_img1 {
    left: 0 !important;
    top: -20% !important;
    width: 100% !important;
    max-width: 40% !important;
  }

  .top_bg_image .main_img2 {
    width: 100%;
    max-width: 400px;
    top: -30% !important;
    left: 60% !important;
  }

  .top_bg_image .main_img3 {
    top: 80% !important;
    left: 45% !important;
    width: 130% !important;
    transform: rotate(45deg);
  }

  .top_bg_image .main_img4 {
    top: 70% !important;
    left: 110% !important;

  }

  .my_social em span {
    margin-top: 12px;
  }

  .my_social em:nth-child(4) span {
    font-size: 12px;
  }

  .footer {
    height: 25vh;
  }

  .footer  .contents{
    width: 100%;
  }



}

@media screen and (max-width: 740px) {


  .toggle_btn {
    left: 10px !important;
  }


  .top_bg_image .main_img1 {
    left: 0 !important;
    top: -30% !important;
    width: 100% !important;
    max-width: 40% !important;
  }

  .top_bg_image .main_img2 {
    width: 100%;
    max-width: 400px;
    top: -40% !important;
    left: 75% !important;
  }

  .top_bg_image .main_img3 {
    top: 76% !important;
    left: 35% !important;
    width: 130% !important;
    transform: rotate(45deg);
  }

  .top_bg_image .main_img4 {
    top: 70% !important;
    left: 120% !important;
  }

  

  .grid-container a {
    max-width: 220px;
    max-height: 220px;
    margin: 20px;
  }

  .my_social {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
  }

  .my_social u {
    width: 40%;
    margin: 5px;
  }

.my_social i {
  font-size: 3.5vw;
  padding: 6px 0;
}


}

@media screen and (max-width: 600px) {


  .toggle_menu_mobile ul li img {
    padding: 10%;
  }
  .top_bg_image .main_img1 {
    left: -65px !important;
    top: -30% !important;
    width: 100% !important;
    max-width: 40% !important;
  }

  .top_bg_image .main_img2 {
    width: 100%;
    max-width: 400px;
    top: -40% !important;
    left: 85% !important;
  }

  .top_bg_image .main_img3 {
    top: 80% !important;
    left: 20% !important;
    width: 130% !important;
    transform: rotate(45deg);
  }

  .top_bg_image .main_img4 {
    top: 70% !important;
    left: 130% !important;
  }

  
  .web_images button:nth-child(2) i{
    font-size: 5.2vw;
  }

  .web_images button i{
    font-size: 4.8vw;
  }

  .web_images .web_btn span {
    font-size: 3vw;
  }

  .web_images img.web_tab {
    right: 18%;
    bottom: 20%;
    width: 39%;
  }

  .js_wrapper a {
    width: calc(100% / 3);
  }

  .grid-container a {

    max-width: 30%;
    max-height: 180px;
    margin: 20px;
  }

  .subject_bg {
    font-size: 3em;
  }

  .javascript_img em {
    font-size: 15px;
  }

  .javascript_img em:after {
    display: none;
  }

  .javascript_img span {
    font-size: 20px;
    margin-top: 10px;
  }

  section#contact_me {
    height: auto;
  }

  #contact_me .container .contents {
    height: auto;
    margin: 100px 0;
  }

  .my_profile {
    width: 100%;
  }

  .my_social p {
    width: 40%;
    margin: 5px;
  }


  .arrow_top {
    width: 35%;
  }

  .contact_me {
    margin: 0;
  }
}

@media screen and (max-width: 450px) {
  .top_bg_image .main_img1 {
    left: -95px !important;
    top: -40% !important;
    width: 100% !important;
    max-width: 40% !important;
  }

  .top_bg_image .main_img2 {
    width: 100%;
    max-width: 400px;
    top: -55% !important;
    left: 100% !important;
  }

  .top_bg_image .main_img3 {
    top: 75% !important;
    left: -20% !important;
    width: 130% !important;
    transform: rotate(45deg);
  }

  .top_bg_image .main_img4 {
    top: 80% !important;
    left: 110% !important;
  }

  .toggle_menu_mobile ul {
    margin: 0 2%;
  }

  .toggle_menu_mobile ul.contact_order {
    padding-left: 8%;
  }

  .toggle_menu_mobile ul li {
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 10px;
  }

  .toggle_menu_mobile ul li img {
    width: 100%;
    height: 100%;
    /* max-width: 60px; */
  }

  .web_images .web_btn_link i {
    font-size: 4vw;
  }

  .web_images .web_btn_link:nth-child(2) i {
    font-size: 4.3vw;
  }

  .web_images .web_btn_link {
    height: 3vh;
  }

  .my_social p em {
    font-size: 3.6vw;
  }

  .my_social i {
    font-size: 5.5vw;
  }

}