
$bdLineGreen : 2px solid green;
$bdLineBlue : 2px solid blue;
$bdLineYellow : 2px solid yellow;
$bdLineRed : 2px solid red;


//중앙정렬에 필요한 변수
$translateX-50 : translateX(-50%);
$translateY-50 : translateY(-50%);
$translateXY-50 : translate(-50%, -50%);

$translateX-100 : translateX(-100%);
$translateY-100 : translateY(-100%);
$translateXY-100 : translate(-100%, -100%);

//webkit
$webkitTranslate: -webkit-transform;
$mozTranslate: -moz-transform;
$oTranslate: -o-transform;
$msTranslate: -ms-transform;

// breakpoints 

$breakpoint-mobile: 310px !default;
$breakpoint-tablet: 758px !default;
$breakpoint-desktop: 1024px !default;
